 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Profile</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">User Profile</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">

					<!-- Profile Image -->
					<div class="card card-primary card-outline">
						<div class="card-body box-profile">
							<div class="text-center">
								<img class="profile-user-img img-fluid img-circle"
									 src="~/img/Manish.jpg"
									 alt="User profile picture">
							</div>

							<h3 class="profile-username text-center">Manish Kumar Tamang</h3>

							<p class="text-muted text-center">Database Administrator</p>

							<ul class="list-group list-group-unbordered mb-3">
								<li class="list-group-item">
									<b>Contact No.</b> <a class="float-right">9849451903</a>
								</li>
								<li class="list-group-item">
									<b>Email</b> <a class="float-right">manishlama731@gmail.com</a>
								</li>
							</ul>

						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
					<!-- About Me Box -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">About Me</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<strong><i class="fas fa-book mr-1"></i> Education</strong>

							<p class="text-muted">
								BSc Hons in Computer System Engineering from ISMT College, University of Sunderland
							</p>

							<hr>

							<strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

							<p class="text-muted">Balkumari, Lalitpur</p>

							<hr>

							<strong><i class="fas fa-pencil-alt mr-1"></i> Expertise</strong>

							<p class="text-muted">
								<span class="tag tag-danger">-> Microsoft SQL Server Administration</span><br />
								<span class="tag tag-success">--> Oracle Database Administration</span><br />
								<span class="tag tag-info">--> T-SQL, MySQL, PostgreSQL</span><br />
								<span class="tag tag-warning">--> Basic ETL Using SSIS</span><br />
								<span class="tag tag-primary">--> Basic MongoDB</span><br />
								<span class="tag tag-primary">--> Asp.Net Core</span><br />
								<span class="tag tag-primary">--> GIT, Linux</span><br />
								<span class="tag tag-primary">--> Microsoft Office</span>

							</p>

							<hr>

							<strong><i class="far fa-file-alt mr-1"></i> Personal Skills</strong>
							<p class="text-muted">
								<span class="tag tag-danger">
									--> Ability to work independently
									or as part of a team
								</span><br />
								<span class="tag tag-success">--> Curious Nature</span><br />
								<span class="tag tag-info">--> Friendly Attitud</span><br />
								<span class="tag tag-warning">--> Quick Learner</span><br />
								<span class="tag tag-primary">--> Leadership experience</span><br />
								<span class="tag tag-primary">--> Problem-solving abilitie</span><br />


							</p>
							<hr>

							<strong><i class="far fa-file-alt mr-1"></i> Certifications</strong>
							<p class="text-muted">
								<span class="tag tag-danger">
									<span class="username">
										<a href="#">Asp.Net Core</a><br />
									</span>
									<span class="description">
										Nov 2022 - Jan 2023
									</span><br />
									<span class="description">
										Broadway Infosys | Shantinagar, Kathmandu
									</span><br />


							</p>
							<p class="text-muted">
								<span class="tag tag-danger">
									<span class="username">
										<a href="#">SQL DBA Certification</a><br />
									</span>
									<span class="description">
										March 2021 - May 2021
									</span><br />
									<span class="description">
										Broadway Infosys | Shantinagar, Kathmandu
									</span><br />


							</p>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
				<div class="col-md-9">
					<div class="card">
						<div class="card-header p-2">
							<ul class="nav nav-pills">
								<li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Objective and Intro</a></li>

							</ul>
						</div><!-- /.card-header -->
						<div class="card-body">
							<div class="tab-content">
								<div class="active tab-pane" id="activity">
									<!-- Post -->
									<div class="post">
										<!-- /.user-block -->
										<p>
											Seeking a challenging career with a progressive IT organization that provides an
											opportunity to capitalize my skills.
											<br /><br />
											Knowledgeable Database Developer and Administrator with significant knowledge in
											SQL Server Administration, Oracle Database Administration and RDBMS database
											systems.
											<br /><br />
											Areas of expertise include maintenance and security. Proactive in establishing backup
											and recovery processes and protocols to protect and retain valuable company data.


										</p>


									</div>
									<!-- /.post -->
									<!-- Post -->
									<!-- /.post -->
								</div>
							</div>
							<!-- /.tab-content -->
						</div><!-- /.card-body -->

					</div>
					<!-- /.card -->
					<div class="card">
						<div class="card-header p-2">
							<ul class="nav nav-pills">
								<li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Experience</a></li>

							</ul>
						</div><!-- /.card-header -->
						<div class="card-body">
							<div class="tab-content">
								<div class="active tab-pane" id="activity">
									<!-- Post -->
									<!-- /.post -->
									<!-- Post -->
									<div class="post clearfix">
										<div style="font-weight:bold">
											<span class="username">
												<a href="#">Database Administrator Trainee</a><br />
											</span>
											<span class="description">Sep 2022 - Present</span><br />
											<span class="description">DishHome | Bhaisipati, Lalitpur</span><br />
										</div>

										<p style="font-style:italic">
											--> Administered, supported and monitored databases by proactively resolving database
											issues and maintaining servers.<br />
											--> Worked with staff to develop and implement procedures to prevent data loss and
											maximize system availability.<br />
											--> Implemented security measures to protect vital business data.<br />
											--> Utilized RDBMS tools and utilities to monitor, tune and optimize system performance.<br />
											--> Conducted tests to identify issues and make necessary modifications.<br />
											--> Data Migration from NoSQL to SQL using SSIS<br />
										</p>


									</div>
									<div class="post clearfix">
										<div style="font-weight:bold">
											<span class="username">
												<a href="#">Database Administrator Intern</a><br />
											</span>
											<span class="description">
												May 2022 - Sep 2022
											</span><br />
											<span class="description">DishHome | Bhaisipati, Lalitpur</span><br />
										</div>

										<p style="font-style:italic">
											--> SQL Server, Oracle, MySQL installation and configuration in Windows and Linux
											Servers<br />
											--> SQL Server replication, mirroring, backup, restore & Always On Availability Group.<br />
											--> Oracle Grid Infrastructure configuration and Oracle Data Guard Configuration<br />
											--> MongoDB ReplicaSets configuration in production being used by DishHome website<br />
											--> Basic ETL process using SSIS<br />
										</p>


									</div>
									<div class="post clearfix">
										<div style="font-weight:bold">
											<span class="username">
												<a href="#">Data Entry Specialist/Team Captain</a><br />
											</span>
											<span class="description">
												Sept 2019 - Aug 2022
											</span><br />
												   <span class="description">
													   CloudFactory | Tripureshor, Kathmandu
												   </span><br />
										</div>

										<p style="font-style:italic">
											--> Identified data entry errors and reported to necessary departments.<br/>
											--> Completed data entry tasks with accuracy and efficiency.<br />
											--> Prepared Training Materials and Contents & Training for Team Members<br />
											--> Produced monthly reports with advanced Excel spreadsheet functions.<br />
											--> Managing Information Flow from team members to Project leaders and vice versa.<br />
										</p>


									</div>
									<!-- /.post -->
								</div>
							</div>
							<!-- /.tab-content -->
						</div><!-- /.card-body -->

					</div>
					<div class="card">
						<div class="card-header p-2">
							<ul class="nav nav-pills">
								<li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">References</a></li>

							</ul>
						</div><!-- /.card-header -->
						<div class="card-body">
							<div class="tab-content">
								<div class="active tab-pane" id="activity">
									<!-- Post -->
									<!-- /.post -->
									<!-- Post -->
									<div class="col-md-12">
										<div class="row">
											<div class="col-md-6">
												<div class="post clearfix">
													<div style="font-weight:bold">
														<span class="username">
															<a href="#">Bishnu Rawal</a><br />
														</span>
														<span class="description">Principal Software Engineer</span><br />
														<span class="description">COTIVITI NEPAL</span><br />
													</div>

													<p style="font-style:italic">
														Phone: 977-9849182885<br />
														Email: rawal.bishnu@gmail.com<br />
													</p>


												</div>

											</div>
											<div class="col-md-6">
												<div class="post clearfix">
													<div style="font-weight:bold">
														<span class="username">
															<a href="#">Sushil Bhattarai</a><br />
														</span>
														<span class="description">Senior Software Engineer</span><br />
														<span class="description">COTIVITI NEPAL</span><br />
													</div>

													<p style="font-style:italic">
														<br />
														Email: rawal.bishnu@gmail.com<br />
													</p>


												</div>

											</div>


										</div>

									</div>


												
												<!-- /.post -->
											</div>
										</div>
										<!-- /.tab-content -->
									</div><!-- /.card-body -->

					</div>
				</div>
				
	<!-- /.col -->
			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->