@{
	ViewData["Title"] = "Index Details";
}

@{
	Layout = "_Layout";
}


@model List<dba_tool.Models.IndexPhysicalStat>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Index Physical Statistics</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Index Physical Statistics</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">

		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Details on Fragmentation of Indexes within the Database</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<!-- /.card-header -->
										<div class="card-body table-responsive p-0" style="height: 500px;">
											<table class="table table-head-fixed text-nowrap">
												<thead class="table table-bordered table-hover">
													<tr>
														<th>Schema Name</th>
														<th>Table Name</th>
														<th>Index Name</th>
														<th>Average Fragmentation %</th>
														<th>Index Status</th>
													</tr>
												</thead>
												<tbody class="table table-bordered table-hover">
													@{
														if (Model != null)
														{
															foreach (var item in Model)
															{
																<tr>
																	<td>@item.schema_name.ToString()</td>
																	<td>@item.object_name.ToString()</td>
																	<td>@item.index_name.ToString()</td>
																	<td>@item.avg_fragmentation_percent</td>
																	<td>
																		@{if (item.avg_fragmentation_percent > 15 && item.avg_fragmentation_percent < 30)
																			{
																				<h6><a href="~/IndexFixing/Reorganize/?dbname=@ViewBag.SelectedDB&indexName=@item.index_name&schemaName=@item.schema_name&tableName=@item.object_name" style="color:gold; font-weight:bold">REORGANIZE</a></h6>
																			}
																			else if (item.avg_fragmentation_percent > 30)
																			{
																				<h6><a href="~/IndexFixing/Rebuild/?dbname=@ViewBag.SelectedDB&indexName=@item.index_name&schemaName=@item.schema_name&tableName=@item.object_name" style="color:red; font-weight:bold">REBUILD</a></h6>
																			}
																			else
																			{ <h6 style="color:limegreen; font-weight:bold">HEALTHY</h6>}
																		}
																	</td>

																</tr>
															}
														}
													}
												</tbody>
											</table>
										</div>
										<!-- /.card-body -->
									</div>
								</div>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->

				</div>
				<!-- /.card-body -->
				<!--</div>-->
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

<!-- jQuery -->
<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/theme/plugins/jszip/jszip.min.js"></script>
<script src="~/theme/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/theme/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Page specific script -->
<script>
	$(function () {
		$("#example1").DataTable({
			"responsive": true, "lengthChange": false, "autoWidth": false,
			"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
		}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
		$('#example2').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
		});
	});</script>