@{
	ViewData["Title"] = "Reorganize Index";
}
@model List<dba_tool.Models.SnapshotDetails>
	<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Reorganize Index</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Reorganize Index</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<!-- left column -->
				<div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Reorganize Index</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form action="~/IndexFixing/IndexFix" method="post">
							<div class="card-body">
								<div class="form-group">
									<label for="exampleInputEmail1">Database</label>
									<input type="text" class="form-control" id="exampleInputEmail1" value="@ViewBag.dbname" readonly name="name">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Index Name</label>
									<input type="text" class="form-control" id="exampleInputEmail1" value="@ViewBag.indexName" readonly name="index">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Schema Name</label>
									<input type="text" class="form-control" id="exampleInputEmail1" value="@ViewBag.schemaName" readonly name="schema">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Table Name</label>
									<input type="text" class="form-control" id="exampleInputEmail1" value="@ViewBag.tableName" readonly name="table">
								</div>
							</div>
							<!-- /.card-body -->

							<div class="card-footer">
								<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">Reorganize</button>
							</div>
						</form>
						<div class="modal fade" id="modal-default">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Success!!!</h4>
										<label type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</label>
									</div>
									<div class="modal-body">
										<p>Index Reogranize Successful&hellip;</p>
									</div>
									<div class="modal-footer justify-content-between">
										<label type="button" class="btn btn-default" data-dismiss="modal">Close</label>

									</div>
								</div>
								<!-- /.modal-content -->
							</div>
							<!-- /.modal-dialog -->
						</div>
					</div>
					<!-- /.card -->
					<!-- general form elements -->
					<!-- /.card -->

				</div>
				<!-- /.row -->
			</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- jQuery -->
<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="~/theme/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="~/theme/dist/js/adminlte.min.js"></script>
<!-- Page specific script -->